name: Nix CI
"on":
  pull_request: {}
  push: {}
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}

jobs:
  nixCI:
    name: Nix CI
    permissions:
      actions: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v6
      - name: Install Nix
        uses: deemp/nix-quick-install-action@v35
        with:
          nix_archives_url: https://github.com/deemp/nix-quick-install-action/releases/download/v35
          nix_conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://cache.iog.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v7
        with:
          primary-key: nix-${{ matrix.os }}-job-${{ hashfiles('**/flake.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ matrix.os }}-job-
          gc-max-store-size: 5G
          purge-prefixes: nix-${{ matrix.os }}-job
          purge-primary-key: never
      - name: Build example
        run: nix build .#example
      - if: matrix.os == 'ubuntu-24.04'
        name: Config git for github-actions
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - if: matrix.os == 'ubuntu-24.04'
        name: Format Nix files
        run: nix fmt
      - if: matrix.os == 'ubuntu-24.04'
        name: Update README
        run: nix run .#genDocs
      - if: matrix.os == 'ubuntu-24.04'
        name: Commit & Push
        run: |-
          git add .
          git commit \
            -m "chore: Format Nix files, update README.md" \
            || echo "commit failed!"
          git push